.App {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  letter-spacing: -1.5px; }

.page-grid {
  display: grid;
  margin: 0 auto;
  /* width: 100%; */
  height: 100%; }

/* Main content */
.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 28px;
  background: #fff; }

.content-bold {
  color: #3c3c3c; }

.content-light {
  color: #a7a7a7; }

.footer {
  color: #a7a7a7;
  z-index: 10;
  letter-spacing: -0.7px; }
  .footer .logo {
    width: 150px;
    min-width: 100px;
    margin: 0 auto; }
  .footer .menu-btn {
    width: 150px;
    margin: 0 auto; }
    .footer .menu-btn img {
      width: 150px; }
  .footer .fc-three {
    display: flex;
    justify-content: space-between;
    width: 65px;
    margin: 0 auto;
    font-size: 32px; }

.footer-text {
  margin: 20px auto; }

.fc-one,
.fc-two,
.fc-three {
  margin: 20px auto; }

/* Aside images */
.aside {
  position: relative;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .aside .img-con {
    position: relative;
    width: 100%;
    height: 50%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .aside .ic-one {
    margin-bottom: 5px;
    background-image: url("./assets/box.jpeg"); }
  .aside .ic-two {
    margin-top: 5px;
    background-image: url("./assets/burger.jpeg"); }

.order-btn {
  margin: 20px;
  margin-left: 0;
  padding: 15px;
  border: 2px solid #3c3c3c;
  text-align: center;
  width: 150px; }
  .order-btn:link, .order-btn:focus, .order-btn:hover, .order-btn:active {
    color: #ee3124;
    border: 2px solid #ee3124;
    border-radius: 10px; }

a:visited {
  color: #3c3c3c; }

a:link, a:focus, a:hover, a:active {
  text-decoration: none;
  color: #a7a7a7;
  cursor: pointer; }

/* Mobile */
@media only screen and (min-width: 325px) {
  .page-grid {
    margin-right: 50px;
    margin-left: 50px;
    grid-template-areas: "main" "aside";
    grid-auto-columns: 1fr; }
  .main {
    margin-top: 50px;
    margin-bottom: 50px; }
  .content {
    margin-bottom: 25px; }
  .order-btn {
    margin: auto;
    font-size: 20px; }
  .footer {
    margin-top: 25px;
    text-align: center;
    font-size: 18px; } }

/* Tablet */
@media only screen and (min-width: 768px) {
  .page-grid {
    margin-right: 50px;
    margin-left: 50px;
    grid-template-areas: "main main aside" "main main aside";
    grid-auto-columns: 1fr; }
  .main {
    font-size: 32px; }
  .content {
    margin-right: 50px; }
  .order-btn {
    margin: 20px;
    margin-left: 0; }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    position: relative;
    margin-top: 57px;
    padding-right: 55px;
    font-size: 14px; }
    .footer .footer-text {
      display: flex;
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap; }
      .footer .footer-text .fc-one,
      .footer .footer-text .fc-two,
      .footer .footer-text .fc-three {
        margin: 0 25px; }
    .footer .logo {
      margin: 0; }
    .footer .menu-btn {
      position: absolute;
      margin: 0;
      right: -80px; } }

/* Desktop */
@media only screen and (min-width: 992px) {
  .page-grid {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1200px; }
  .main {
    font-size: 42px; }
  .content {
    margin-right: 150px; }
  .footer .footer-text {
    flex-wrap: nowrap; } }
