body, html, #root {
  height: 100%;
}

.App {
  /* position: absolute; */
  display: grid;
  grid-template: "one"
                 "two"
                 "three";
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  background-color: #eb2929;
  color: #ffffff;
}

.griditem {

}

.content {
  grid-area: one;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 52px;
  font-weight: bold;
}

.content-chicken {
  position: absolute;
  top: 150px;
  left: 15%;
}

.content-text {
  width:65%;
}

.logo {
  grid-area: two;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.menu {
  grid-area: three;

}

.menu-items {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.menu-item {
  padding: 15px 0 10px;
  border-bottom: 1px solid #fff;
  font-size: 24px
}

.ml {
  border-bottom: none;
}

.address {
  margin-top: 50px;
  font-size: 20px;
  font-weight: thin;
  color: rgb(250, 148, 148);
}

.social {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 25px;
  font-size: 40px;
}

.facebook {
  margin-right: 15px;
}

@media only screen and (min-width: 768px) {
  .App {
    grid-template: "one one"
                   "one one"
                   "two three"
                   "two three";
  }
}